 *{ 
    margin:0px; 

 }
 #one{  
    width:25%; 
    height:1300px; 
    background-color:#B3A396; 
    float:left;  
    border-right: 1px,solid,black; 
    font-size: 20px;  
 }   
.h1{ 
   color:rgb(94, 66, 66);
}
 .s{ 
    font-size: 20px; 
    text-align:left; 
    padding-left: 8px; 
    padding-top:3px;
    color:rgb(94, 66, 66);
 } 
 .i{  
    align-self: auto;
    height: 200px; 
    width:200px;
    padding-left: 60px; 
    padding-top:10px;
    
 } 
 .p{  
    background-color:black;
    text-align: left; 
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif; 
    color:rgb(94, 66, 66);
 } 
 .E{ 
    padding:10px; 
    font-family: serif;
 } 

 #two{ 
    width:75%; 
    height:1300px; 
    background-color:#EDE2D3;
    float:right;
    
 } 
 .pr{  
   padding-top: 40px;
    padding-left: 16px;  
    padding-bottom: 40px;
    font-size: 70px; 
    text-align: center; 
    font-style: italic;  
    color:rgb(94, 66, 66);
 } 
 .w{ 
    padding-bottom:7px;
    padding-top:8px;  
    padding-left: 16px;
    border-style: outset; 
    border-color: black;
    border-left-style: hidden; 
    border-right-style: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px; 
    color:rgb(94, 66, 66);
 } 
 .t{
   padding-left:16px; 
   font-size: 20px; 
 } 
 .s{  
   font-size: 30px;
   padding-left: 16px; 
   font-family: cursive;
 } 
 .li{ 
   font-size:24px; 
   padding-left: 80px; 
 } 
 .um{  
   padding-left: 16px;
   font-size: 26px;
 } 
.tec{ 
   padding-left: 6px;  
   padding-right:6px;
   border:2px solid black;  
   display:inline-block;
   font-size: 26px;  
   margin-left: 30px; 
} 
.mail{
   text-decoration: none;
}